.root{
    font-family: Roboto;
    font-size: 20px;
}
.AppHeader {
    display: flex;
    margin-right: 50px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    justify-content: center;
    margin-block: 30px;
}


.App-inputs  {
    border-radius: 0 !important;
    height: 35px !important;
    width: 150px;
    padding: 0px  !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    height: 35px !important;
    border-color:black !important;
    padding: 0px  !important;
    margin-left: 14px !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
    border-radius: 0 !important; 
    border-color: black !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: black !important;
} 

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    font-size: 20px !important;
    text-transform: lowercase !important;
    color: #0000005E !important;
    text-decoration: underline 1px !important; 
}

.App-bottom {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.AppText {
    text-align: right;
    margin-right: 5px;
    font-size: 20px;
}

.AppText2 {
    align-items: center;  
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    margin-block: 15px;
}